// Paramètres flexbox
@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin flex_center {
    display: flex;
    justify-content: center;
}

@mixin flex_column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin flex_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@mixin flex_space {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@mixin flex_space_between {
    display: flex;
	justify-content: space-between;
}

@mixin flex_space_evenly {
    display: flex;
    justify-content: space-evenly;
}

// paramètres sections
@mixin section-style {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

@mixin text_link {
    font-weight: bold;
    color: $text_link_color;
    font-size: 0.9em;
    &:hover {
      color: $text-color;
    }
}

// paramètres bouton hero banner
@mixin submit {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 1.2;
    background-color: $background-button;
    margin: 1em auto 1em auto;
    box-shadow: $button-box-shadow;
    span {
      position: relative; 
      z-index: 1;
      color: $body-color;
      svg {
        margin-left: 0.5em;
      }
      a {
        color: $body-color;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 490%;
      width: 140%;
      background: $primary_color;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
      transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }
    &:hover:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
}

// paramètres boutons généraux
@mixin button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 1.2;
    background-color: $body-color;
    
    border: 1px solid $primary-color;
    box-shadow: $button-box-shadow;
    span {
        position: relative; 
        z-index: 1;
        color: $primary-color;
        svg {
            margin-left: 0.5em;
            color: $primary-color;
        }
        a {
            color: $primary-color;
            text-decoration: none;
            position: relative; 
            z-index: 1;
        }
    }
    &:hover {
        span {
            color: $body-color;
            svg {
                color: $body-color;
            }
            a {
                color: $body-color;
            }
        }
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: $primary_color;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }
    &:hover:after {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
}