// Paramètres flexbox
@mixin flex_column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin flex_center {
    display: flex;
    justify-content: center;
}

@mixin flex_space_between {
    display: flex;
	justify-content: space-between;
}

@mixin flex_space_evenly {
    display: flex;
    justify-content: space-evenly;
}
// paramètres sections
@mixin section-style {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

@mixin text_link {
    font-weight: bold;
    color: $text_link_color;
    font-size: 0.9em;
    &:hover {
      color: $text-color;
    }
}

// paramètres boutons validation animation zoom
@mixin submit {
    width: auto;
    border-radius: 30px;
    border: 2px solid $text-color;
    box-shadow: $box_shadow;
    background-color: $primary_color;
    font-size: 0.9em;
    padding: 12px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    a {
        color: $text-color;
    }
    &:hover {
        background-color: $text_color;
        transform: scale(1.1);
        cursor: pointer;
        a {
            color: $primary-color;
        }
    }
}