// Paramètres flexbox
@mixin flex_column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin flex_center {
    display: flex;
    justify-content: center;
}

@mixin flex_space_between {
    display: flex;
	justify-content: space-between;
}

@mixin flex_space_evenly {
    display: flex;
    justify-content: space-evenly;
}
// paramètres sections
@mixin section-style {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

@mixin text_link {
    font-weight: bold;
    color: $text_link_color;
    font-size: 0.9em;
    &:hover {
      color: $text-color;
    }
}

// paramètres bouton hero banner
@mixin submit {
    width: auto;
    border-radius: 30px;
    border: 2px solid $primary-color;
    box-shadow: $primary-box-shadow;
    background-color: $vertical-timeline-color;
    font-size: 0.9em;
    padding: 12px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    a {
        color: $text-color;
    }
    &:hover {
        background-color: $primary_color;
        transform: scale(1.1);
        cursor: pointer;
        a {
            color: $body-color;
        }
    }
}

// paramètres boutons généraux
@mixin button {
    width: auto;
    border-radius: 5px;
    background-color: $body_color;
    border: 1.9px solid $primary-color;
    color: $primary-color;
    padding: 7px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    box-shadow: $primary-box-shadow;
    a {
        color: $primary-color;
        text-decoration: none;
    }
    &:hover {
        background-color: $primary_color;
        border: 1.9px solid $border-button_color;
        color: $body-color;
        transform: scale(1.1);
        cursor: pointer;
        a {
            color: $body-color;
        }
    }
}