//couleurs principales
$primary_color: #ff6347;
$text_color: #023750;
$body_color: whitesmoke;
$link_color:  indianred;
$text_link_color: rgb(110, 19, 19);
$nav_link_color: rgb(124, 123, 123);

// box shadow
$box_shadow: 0 0 10px #bababa;