//couleurs principales
$primary_color: #ee738b;
$text_color: #3a3a58;
$body_color: #fcfcfc;
$text_link_color: #696999;
$vertical-timeline-color: #fac7d1;
$border-button_color: #fc496d;
$background-button: #222;
$background-section: #494949;

// box shadow
$box_shadow: 0 0 10px #bababa;
$button-box-shadow: 0 5px 15px rgba(0,0,0,0.20);
$primary-box-shadow: 0 0 10px #fac7d1;