//couleurs principales
$primary_color: #ab557d;
$text_color: #502978;
$body_color: #fcf8f6;
$link_color:  #be9599;
$text_link_color: #f8ae01;
$nav_link_color: rgb(124, 123, 123);

// box shadow
$box_shadow: 0 0 10px #bababa;