$xx_small: 318px;
$x_small: 360px;
$small: 780px;
$large: 1024px;

//écrans moins de 318 px
$xx_small_screen: "only screen and (max-width: #{$xx_small})";

//écrans plus de 318 px moins de 360 px
$x_small_screen: "only screen and (max-width: #{$x_small}) and (min-width: #{$xx_small})";

// écrans plus de 360 px moins de 780 px
$small_screen: "only screen and (max-width: #{$small}) and (min-width: #{$x_small})";

// écrans de plus de 780 px et moins de 1024 px 
$medium_screen: "only screen and (max-width: #{$large}) and (min-width: #{$small})";

// landscape
$landscape: (orientation: landscape);