@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
body {
  background-color: #fcfcfc;
}

* {
  font-family: 'Comfortaa', cursive;
}

nav {
  background-color: #fcfcfc;
  border-bottom: 1px solid #34344A;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 9999;
  top: 0;
}

nav .header-div {
  margin: 0em;
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .header-div img {
  width: 4.2em;
  margin: 0.3em 0em 0.3em 1.5em;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

nav .header-div img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

nav .header-div h2 {
  margin: auto 0.5em auto 0.5em;
  width: 40%;
  font-size: 1em;
  color: #fcfcfc;
}

nav .header-div .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: auto 2em auto auto;
  width: 60%;
}

nav .header-div .nav-menu .nav-item {
  margin: auto auto 0em auto;
}

nav .header-div .nav-menu .nav-item a {
  color: #ee738b;
  text-decoration: none;
  font-weight: bold;
}

nav .header-div .nav-menu .nav-item a:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #34344A;
  cursor: pointer;
}

nav .header-div .nav-menu .nav-item > .active {
  color: #34344A;
}

nav .header-div .hamburger {
  display: none;
}

.main-div {
  margin: 0em;
}

.main-div p {
  font-size: 0.9em;
}

.main-div #section {
  padding: 2em;
  height: 30em;
  background-image: url("../images/img-header.jpg");
  background-color: #fcfcfc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.main-div #section h2 {
  font-family: 'Comfortaa', cursive;
  color: #ee738b;
}

.main-div #section1 {
  padding: 1em 3em 1em 3em;
  background-color: #fcfcfc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.main-div #section1 h2 {
  font-family: 'Comfortaa', cursive;
  color: #ee738b;
}

.main-div #section2 {
  padding: 1em 3em 1em 3em;
  background-color: #ee738b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.main-div #section2 h2 {
  color: #fcfcfc;
  font-family: 'Comfortaa', cursive;
}

.main-div #section2 p {
  color: #34344A;
}

.main-div #section3 {
  padding: 1em 3em 1em 3em;
  background-color: #fcfcfc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.main-div #section3 h2 {
  color: #ee738b;
  font-family: 'Comfortaa', cursive;
}

.main-div h2 {
  text-align: center;
  margin: 0.5em;
  color: #ee738b;
}

.main-div p {
  color: #34344A;
}

.main-div a {
  font-weight: bold;
  color: #696999;
  font-size: 0.9em;
}

.main-div a:hover {
  color: #34344A;
}

.main-div .image-div img {
  margin: 1em;
}

.main-div .button-top {
  width: 100%;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-div .button-top button {
  border-radius: 25%;
  border: none;
  background-color: #fcfcfc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  padding: 0.3em;
}

.main-div .button-top button:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

.main-div .button-top button:hover svg {
  color: #34344A;
}

.main-div .button-top button svg {
  color: #ee738b;
  background-color: #fcfcfc;
}

.main-div footer {
  padding: 1em;
  color: #fcfcfc;
  background-color: #ee738b;
}

@media only screen and (max-width: 360px) {
  nav .header-div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .header-div img {
    width: 3.5em;
    margin: 0.4em auto 0.4em 1em;
  }
  nav .header-div .hamburger {
    display: initial;
    margin: auto 1.5em auto auto;
    background-color: #fcfcfc;
    border-radius: 25%;
    border: none;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  nav .header-div .hamburger:hover {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    cursor: pointer;
  }
  nav .header-div .hamburger:hover svg {
    color: #34344A;
  }
  nav .header-div .hamburger svg {
    color: #ee738b;
  }
  nav .header-div .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: top;
        -ms-flex-pack: top;
            justify-content: top;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  nav .header-div .nav-menu.active {
    background: #ee738b;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
  nav .header-div .nav-menu.active .nav-item {
    text-align: center;
    margin: 0em;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  nav .header-div .nav-menu.active .nav-item a {
    color: #34344A;
  }
  nav .header-div .nav-menu.active .nav-item .active {
    color: #fcfcfc;
  }
  nav .header-div .nav-menu.active .nav-item:hover {
    background-color: #34344A;
    border-radius: 0;
  }
  nav .header-div .nav-menu.active .nav-item:hover a {
    color: #ee738b;
  }
  nav .header-div .nav-menu.active .nav-item:hover .active {
    color: #fcfcfc;
  }
}

@media only screen and (max-width: 780px) and (min-width: 360px) {
  nav .header-div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .header-div img {
    width: 3.6em;
    margin: 0.4em auto 0.4em 1em;
  }
  nav .header-div .hamburger {
    display: initial;
    margin: auto 1.5em auto auto;
    background-color: #fcfcfc;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border: none;
    border-radius: 25%;
  }
  nav .header-div .hamburger:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-box-shadow: 0 0 10px #bababa;
            box-shadow: 0 0 10px #bababa;
    cursor: pointer;
  }
  nav .header-div .hamburger svg {
    color: #ee738b;
  }
  nav .header-div .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: top;
        -ms-flex-pack: top;
            justify-content: top;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  nav .header-div .nav-menu.active {
    background: #ee738b;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
  nav .header-div .nav-menu.active .nav-item {
    text-align: center;
    margin: 0em;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  nav .header-div .nav-menu.active .nav-item a {
    color: #34344A;
  }
  nav .header-div .nav-menu.active .nav-item .active {
    color: #fcfcfc;
  }
  nav .header-div .nav-menu.active .nav-item:hover {
    background-color: #34344A;
    border-radius: 0;
  }
  nav .header-div .nav-menu.active .nav-item:hover a {
    color: #ee738b;
  }
  nav .header-div .nav-menu.active .nav-item:hover .active {
    color: #fcfcfc;
  }
}
/*# sourceMappingURL=index.css.map */