@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
body {
  background-color: #fcfcfc;
}

* {
  font-family: 'Comfortaa', cursive;
}

nav {
  background-color: #fcfcfc;
  border-bottom: 1px solid #3a3a58;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 9999;
  top: 0;
}

nav .header-div {
  margin: 0em;
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .header-div img {
  width: 11em;
  margin: 0.4em 0em 0.4em 1.5em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

nav .header-div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

nav .header-div h2 {
  margin: auto 0.5em auto 0.5em;
  width: 40%;
  font-size: 1em;
  color: #fcfcfc;
}

nav .header-div .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: auto 2em auto auto;
  width: 60%;
}

nav .header-div .nav-menu .nav-item {
  margin: auto auto 0em auto;
}

nav .header-div .nav-menu .nav-item a {
  color: #ee738b;
  text-decoration: none;
  font-weight: bold;
}

nav .header-div .nav-menu .nav-item a:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #3a3a58;
  cursor: pointer;
}

nav .header-div .nav-menu .nav-item > .active {
  color: #3a3a58;
}

nav .header-div .hamburger {
  display: none;
}

.main-div {
  margin: 0em;
}

.main-div p {
  font-size: 0.9em;
}

.main-div #section {
  padding: 2em;
  height: 34.5em;
  background-image: url("../images/img-header.jpg");
  background-color: #fcfcfc;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-div #section .section-content {
  background-color: #fcfcfc;
  opacity: 0.95;
  width: 65%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  padding: 1em;
  border-radius: 25px;
}

.main-div #section .section-content h2 {
  font-family: 'Comfortaa', cursive;
  color: #ee738b;
  font-weight: bold;
}

.main-div #section .section-content p {
  text-align: center;
  font-weight: bold;
}

.main-div #section .section-content a {
  color: #ee738b;
  font-size: 1em;
  font-weight: bold;
}

.main-div #section .section-content a:hover {
  color: #696999;
  cursor: pointer;
}

.main-div #section .section-content .button-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-div #section .section-content .button-div button {
  margin: 1em auto 1em auto;
  width: auto;
  border-radius: 30px;
  border: 2px solid #3a3a58;
  -webkit-box-shadow: 0 0 10px #bababa;
          box-shadow: 0 0 10px #bababa;
  background-color: #ee738b;
  font-size: 0.9em;
  padding: 12px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.main-div #section .section-content .button-div button a {
  color: #3a3a58;
}

.main-div #section .section-content .button-div button:hover {
  background-color: #3a3a58;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.main-div #section .section-content .button-div button:hover a {
  color: #ee738b;
}

.main-div #section1 {
  padding: 1.5em 3em 1em 3em;
  background-color: #fcfcfc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.main-div #section1 h2 {
  font-family: 'Comfortaa', cursive;
  color: #ee738b;
}

.main-div #section1 .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-div #section1 .presentation img {
  width: 20%;
  border-radius: 50%;
  margin: 1em;
  -webkit-box-shadow: 0 0 10px #bababa;
          box-shadow: 0 0 10px #bababa;
}

.main-div #section1 .presentation p {
  margin: auto 1em auto 1em;
}

.main-div #section1 .vertical-timeline::before {
  background: #fac7d1;
  width: 2px;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-content {
  -webkit-box-shadow: 0 0 10px #bababa;
          box-shadow: 0 0 10px #bababa;
  border: 2px solid #ee738b;
  background-color: #fcfcfc;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-content-arrow {
  border-right: 7px solid #ee738b;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-title {
  font-family: 'Comfortaa', cursive;
  color: #ee738b;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-subtitle {
  font-family: 'Comfortaa', cursive;
  color: #ee738b;
  margin-top: 0.2em;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-content p {
  color: #3a3a58;
  font-size: 0.9sem;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-content ul {
  margin-top: 0.5em;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-content button {
  margin-top: 1em;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-content button a {
  text-decoration: none;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-icon {
  -webkit-box-shadow: 0 0 10px #bababa;
          box-shadow: 0 0 10px #bababa;
  border: 3px solid #fcfcfc;
  background-color: #ee738b;
}

.main-div #section1 .vertical-timeline-element--work .vertical-timeline-element-icon svg {
  color: #fcfcfc;
  width: 24px;
  height: 24px;
}

.main-div #section2 {
  height: auto;
  padding: 1.5em 2em 3em 2em;
  background-color: #ee738b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.main-div #section2 h2 {
  color: #fcfcfc;
  font-family: 'Comfortaa', cursive;
}

.main-div #section2 p {
  margin-top: 2em;
  text-align: center;
}

.main-div #section2 .carousel {
  margin: 2em;
  height: auto;
}

.main-div #section2 .carousel .slick-slider {
  height: auto;
}

.main-div #section2 .carousel .slick-slider .carousel-items {
  text-align: center;
  margin: 1em auto 3em auto;
}

.main-div #section2 .carousel .slick-slider .carousel-items .carousel-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fcfcfc;
  padding: 1em;
  margin: auto 2em 2em 2em;
  border: 2px solid #3a3a58;
  border-radius: 25px;
}

.main-div #section2 .carousel .slick-slider .carousel-items .carousel-div img {
  width: 10em;
  height: 10em;
  margin: 1em;
  -webkit-box-shadow: 0 0 10px #bababa;
          box-shadow: 0 0 10px #bababa;
}

.main-div #section2 .carousel .slick-slider .carousel-items .carousel-div .carousel-text {
  width: 70%;
  margin: auto;
}

.main-div #section2 .carousel .slick-slider .carousel-items .carousel-div .carousel-text h3 {
  color: #ee738b;
}

.main-div #section2 .carousel .slick-slider .carousel-items .carousel-div .carousel-text h4 {
  color: #3a3a58;
}

.main-div #section3 {
  padding: 1em 3em 1em 3em;
  background-color: #fcfcfc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.main-div #section3 h2 {
  color: #ee738b;
  font-family: 'Comfortaa', cursive;
}

.main-div h2 {
  text-align: center;
  margin: 0.5em;
  color: #ee738b;
}

.main-div p {
  color: #3a3a58;
}

.main-div a {
  font-weight: bold;
  color: #696999;
  font-size: 0.9em;
}

.main-div a:hover {
  color: #3a3a58;
}

.main-div .image-div img {
  margin: 1em;
}

.main-div .button-top {
  width: 100%;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-div .button-top button {
  border-radius: 25%;
  border: none;
  background-color: #fcfcfc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  padding: 0.3em;
}

.main-div .button-top button:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

.main-div .button-top button:hover svg {
  color: #3a3a58;
}

.main-div .button-top button svg {
  color: #ee738b;
  background-color: #fcfcfc;
}

.main-div footer {
  padding: 1em;
  color: #fcfcfc;
  background-color: #ee738b;
}

@media only screen and (max-width: 360px) {
  nav .header-div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .header-div img {
    width: 9em;
    margin: 0.4em auto 0.4em 1em;
  }
  nav .header-div .hamburger {
    display: initial;
    margin: auto 1.5em auto auto;
    background-color: #fcfcfc;
    border-radius: 25%;
    border: none;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  nav .header-div .hamburger:hover {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    cursor: pointer;
  }
  nav .header-div .hamburger:hover svg {
    color: #3a3a58;
  }
  nav .header-div .hamburger svg {
    color: #ee738b;
  }
  nav .header-div .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: top;
        -ms-flex-pack: top;
            justify-content: top;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  nav .header-div .nav-menu.active {
    background: #ee738b;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
  nav .header-div .nav-menu.active .nav-item {
    text-align: center;
    margin: 0em;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  nav .header-div .nav-menu.active .nav-item a {
    color: #3a3a58;
  }
  nav .header-div .nav-menu.active .nav-item .active {
    color: #fcfcfc;
  }
  nav .header-div .nav-menu.active .nav-item:hover {
    background-color: #3a3a58;
    border-radius: 0;
  }
  nav .header-div .nav-menu.active .nav-item:hover a {
    color: #ee738b;
  }
  nav .header-div .nav-menu.active .nav-item:hover .active {
    color: #fcfcfc;
  }
  .main-div #section .section-content {
    width: 90%;
  }
  .main-div #section1 .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-div #section1 .presentation img {
    width: 40%;
    margin: 1em auto 1em auto;
  }
  .main-div #section1 .presentation p {
    font-size: 0.8em;
    margin: 1em auto 1em auto;
  }
  .main-div #section2 .carousel {
    margin: 0.2em;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto 0.5em 0em 0.5em;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div img {
    width: 7em;
    height: 7em;
    margin: 1em auto 1.5em auto;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div .carousel-text {
    width: auto;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div .carousel-text h4 {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 780px) and (min-width: 360px) {
  nav .header-div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .header-div img {
    width: 10em;
    margin: 0.4em auto 0.4em 1em;
  }
  nav .header-div .hamburger {
    display: initial;
    margin: auto 1.5em auto auto;
    background-color: #fcfcfc;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border: none;
    border-radius: 25%;
  }
  nav .header-div .hamburger:hover {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    cursor: pointer;
  }
  nav .header-div .hamburger svg {
    color: #ee738b;
  }
  nav .header-div .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: top;
        -ms-flex-pack: top;
            justify-content: top;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  nav .header-div .nav-menu.active {
    background: #ee738b;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
  nav .header-div .nav-menu.active .nav-item {
    text-align: center;
    margin: 0em;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  nav .header-div .nav-menu.active .nav-item a {
    color: #3a3a58;
  }
  nav .header-div .nav-menu.active .nav-item .active {
    color: #fcfcfc;
  }
  nav .header-div .nav-menu.active .nav-item:hover {
    background-color: #3a3a58;
    border-radius: 0;
  }
  nav .header-div .nav-menu.active .nav-item:hover a {
    color: #ee738b;
  }
  nav .header-div .nav-menu.active .nav-item:hover .active {
    color: #fcfcfc;
  }
  .main-div #section .section-content {
    width: 80%;
  }
  .main-div #section1 .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-div #section1 .presentation img {
    width: 35%;
    margin: 1em auto 1em auto;
  }
  .main-div #section1 .presentation p {
    font-size: 0.8em;
    margin: 1em auto 1em auto;
  }
  .main-div #section2 .carousel {
    margin: 0.2em;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto 0.5em 0em 0.5em;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div img {
    width: 9em;
    height: 9em;
    margin: 1em auto 2em auto;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div .carousel-text {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 780px) {
  .main-div #section .section-content {
    width: 70%;
  }
  .main-div #section1 .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-div #section1 .presentation img {
    width: 30%;
    margin: 1em auto 1em auto;
  }
  .main-div #section1 .presentation p {
    margin: 1em auto 1em auto;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0em;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div img {
    width: 10em;
    height: 10em;
    margin: 1em auto 2em auto;
  }
  .main-div #section2 .carousel .slick-slider .carousel-items .carousel-div .carousel-text {
    width: auto;
  }
}
/*# sourceMappingURL=index.css.map */