@import "./utils/_variable.scss";
@import "./utils/_mixins.scss";
@import "./utils/_responsive.scss";

// éléments body
body {
  background-color: $body_color;
}

// éléments du header
nav {
  background-color: $text_color;
  height: auto;
  position: sticky;
  width: 100%;
  z-index: 9999;
  top: 0;
  .header-div {
    margin: 0em;
    padding: 0em;
    display: flex;
    img {
      width: 4.2em;
      margin: 0.3em 0em 0.3em 1.5em;
      transform: scale(0.9);
      transition: transform 300ms ease-in-out;
      &:hover {
        transform: scale(1);
        cursor: pointer;
      }
    }
    h2 {
      margin: auto 0.5em auto 0.5em;
      width: 40%;
      font-size: 1em;
      color: $body_color;
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: stretch;
      margin: auto 2em auto auto;
      width: 40%;
      .nav-item {
        margin: auto auto 0em auto;
        a {
          color: $primary_color;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            transition: all 0.2s ease-out;
            color: $body_color;
            cursor: pointer;
          }
        }
        > .active {
          color: $body_color;
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}

// éléments main de la page
.main-div {
  margin: 0em;
  #section {
    padding: 1em;
    background-color: $body_color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%
  }
  #section1 {
    h2 {
      color: $body_color;
    }
    padding: 1em;
    background-color: $primary_color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%
  }
  #section2 {
    p {
      color:  $text_color;
    }
    padding: 1em;
    background-color: $body_color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%
  }
  #section3 {
    h2 {
      color: $body_color;
    }
    padding: 1em;
    background-color: $primary_color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%
  }
  h2 {
    text-align: center;
    margin: 0.5em;
    color: $primary_color;
  }
  p {
    color: $text_color;
  }
  a {
    @include text_link;
  }
  .image-div{
    img {
      margin: 1em;
    }
  }
  .button-top {
    width: 100%;
    background-color: $primary_color;
    padding: 1em;
    display: flex;
    justify-content: center;
    button {
      background-color: $body-color;
      border-radius: 25%;
      border: none;
      transform: scale(1.2);
      transition: transform 300ms ease-in-out;
      padding: 0.3em;
      &:hover {
        transform: scale(1.4);
        box-shadow: $box_shadow;
        cursor: pointer;
      }
      svg {
        color: $primary_color;
      }
    }
  }
  footer {
    padding: 1em;
    color: $body-color;
    background-color: $text_color;
  }
}

// responsive
// écrans moins de 360px
@media #{$x_small_screen}
{
  nav {
    .header-div {
      justify-content: space-between;
      img {
        width: 3.5em;
        margin: 0.4em auto 0.4em 1em;
      }
      .hamburger {
        display: initial;
        margin: auto 1.5em auto auto;
        background-color: $body-color;
        border-radius: 25%;
        border: none;
        transform: scale(1.3);
        transition: transform 300ms ease-in-out;
        &:hover {
          transform: scale(1.5);
          box-shadow: $box_shadow;
          cursor: pointer;
        }
        svg {
           color: $primary_color;
        }
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: top;
        width: 100%;
        height: 40vh;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
      .nav-menu.active {
        background: $text-color;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        .nav-item {
          text-align: center;
          margin: 0em;
          padding: 2rem;
          width: 100%;
          display: table;
        }
        .nav-item:hover {
          background-color: $primary-color;
          border-radius: 0;
          a {
            color: $body-color;
          }
        }
      }
    }
  }
}

// écrans plus de 360px et moins de 780 px 
@media #{$small_screen}
{
  nav {
    .header-div {
      justify-content: space-between;
      img {
        width: 3.6em;
        margin: 0.4em auto 0.4em 1em;
      }
      .hamburger {
        display: initial;
        margin: auto 1.5em auto auto;
        background-color: $body-color;
        transform: scale(1.3);
        transition: transform 300ms ease-in-out;
        border: none;
        border-radius: 25%;
        &:hover {
          transform: scale(1.5);
          box-shadow: $box_shadow;
          cursor: pointer;
        }
        svg {
           color: $primary_color;
        }
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: top;
        width: 100%;
        height: 40vh;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
      .nav-menu.active {
        background: $text-color;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        .nav-item {
          text-align: center;
          margin: 0em;
          padding: 2rem;
          width: 100%;
          display: table;
        }
        .nav-item:hover {
          background-color: $primary-color;
          border-radius: 0;
          a {
            color: $body-color;
          }
        }
      }
    }
  }
}