// sass files
@import "./utils/_variable.scss";
@import "./utils/_mixins.scss";
@import "./utils/_responsive.scss";

// Font
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

// éléments body
body {
  background-color: $body_color;
}

* {
  font-family: 'Comfortaa', cursive;
}

// éléments du header
nav {
  background-color: $body_color;
  border-bottom: 1px solid $text_color;
  height: auto;
  position: sticky;
  width: 100%;
  z-index: 9999;
  top: 0;
  .header-div {
    margin: 0em;
    padding: 0em;
    display: flex;
    img {
      width: 11em;
      height: 3.6em;
      margin: 0.4em 0em 0.4em 1.5em;
      transform: scale(1);
      transition: transform 300ms ease-in-out;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    h2 {
      margin: auto 0.5em auto 0.5em;
      width: 40%;
      font-size: 1em;
      color: $body_color;
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: stretch;
      margin: auto 2em auto auto;
      width: 60%;
      .nav-item {
        margin: auto auto 0em auto;
        a {
          color: $primary_color;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            transition: all 0.2s ease-out;
            color: $text_color;
            cursor: pointer;
          }
        }
        > .active {
          color: $text_color;
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}

// éléments main de la page
.main-div {
  margin: 0em;
  h1 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin: 0.5em;
    color: $primary_color;
    font-size: 2em;
  }
  h2 {
    text-align: center;
    margin: 0.5em;
    color: $text_color;
    font-family: 'Comfortaa', cursive;
  }
  p {
    color: $text_color;
    font-size: 0.9em;
  }
  a {
    @include text_link;
  }
  .project-page {
    .project-content {
      padding: 2em 3em 2em 3em;
      h2 {
        margin-bottom: 1em;
        font-size: 1.5em;
      }
      h3 {
        color: $primary-color;
        font-family: 'Comfortaa', cursive;
        margin-top: 2em;
      }
      p {
        font-size: 1em;
        a {
          font-size: 1em;
          color: $primary-color;
          &:hover {
            color: $text_link_color;
          }
        }
      }
      .center-p {
        margin-top: 3em;
        text-align: center;
      }
      ul {
        font-size: 1em;
        a {
          font-size: 1em;
          color: $primary-color;
          &:hover {
            color: $text_link_color;
          }
        }
      }
      .date {
        text-align: right;
      }
      button {
        margin: 3em auto 3em auto;
        @include button;
            padding: 13px 25px;
      }
    }
    .button-top {
      @include button_top;
    }
  }
  #welcome {
    padding: 2em;
    height: 92vh;
    background-image: url("../images/img-header.jpg");
    background-color: $body_color;
    background-attachment: fixed;
    @include section-style;
    @include flex_center;
    .section-content {
      background-color: $body_color;
      width: 60%;
      height: max-content;
      margin: auto;
      padding: 1em;
      border-radius: 5px;
      h1 {
        font-family: 'Comfortaa', cursive;
        color: $primary_color;
        text-align: center;
      }
      p {
        text-align: center;
      }
      a {
        color: $primary-color;
        font-size: 1em;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
          color: $text_link_color;
          cursor: pointer;
        }
      }
      .button-div {
        width: 100%;
        @include flex_center;
        button {
          margin: 1em auto 1em auto;
          @include submit;
          padding: 17px 35px;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  #parcours {
    padding: 1.5em 1em 1em 1em;
    background-color: $body_color;
    @include section-style;
    
    h1 {
      font-family: 'Comfortaa', cursive;
      color: $primary_color;
    }
    h2 {
      text-align: left;
      margin-left: 0em;
    }
    h3 {
      font-size: 1.1em;
    }
    .presentation {
      @include row;
      img {
        width: 17%;
        height: 17%;
        border-radius: 50%;
        margin: 1em;
        box-shadow: $box-shadow;
      }
      p {
        margin: auto 1em auto 1em;
      }
    }
    .vertical-timeline::before {
      background: $vertical-timeline-color;
      width: 2px;
    }
    .vertical-timeline-element--work {
      .vertical-timeline-element-content {
        box-shadow: $box_shadow;
        border: 2px solid $primary-color;
        background-color: $body-color;
        .vertical-timeline-element-content-arrow {
          border-right: 7px solid  $primary-color;
        }
        .vertical-timeline-element-title {
          font-family: 'Comfortaa', cursive;
          color: $primary_color;
        }
        .vertical-timeline-element-subtitle {
          font-family: 'Comfortaa', cursive;
          color: $primary-color;
          margin-top: 0.2em;
        }
        p {
          color: $text-color;
          font-size:0.8sem;
        }
        .strong-p {
          font-weight: bold;
        }
        ul {
          margin-top: 0.5em;
          li {
            font-size:0.8sem;
          }
        }
        .button-timeline {
          margin-top: 1em;
          @include flex_center;
          button {
            @include button;
            margin: 1em auto 1em auto;
            padding: 12px 40px;
          }
        }
      }
      .vertical-timeline-element-icon {
        box-shadow: $box-shadow;
        border: 3px solid $body-color;
        background-color: $primary-color;
        
        svg {
          color: $body-color;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  #projets {
    height: auto;
    background: $body-color;
    padding: 1.5em 2em 3em 2em;
    @include section-style;
    h1 {
      color: $primary_color;
      font-family: 'Comfortaa', cursive;
    }
    .projects {
      margin: 2em;
      height: auto;
      .projects-div {
        @include row;
        .projects-items {
          box-shadow: $box-shadow;
          text-align: center;
          margin: 1em;
          .projects-content {
            background-color: $body-color;
            border: 1px solid $primary-color;
            img {
              width: auto;
              height: auto;
            }
            .projects-text {
              width: auto;
              margin: auto;
              padding: 0em 0.5em 0.5em 0.5em;
              h2 {
                color: $primary-color;
                font-size: 1.2em;
                font-family: 'Comfortaa', cursive;
              }
              h3 {
                color: $text-color;
                font-family: 'Comfortaa', cursive;
                font-size: 0.9em;
              }
              .tech-icon {
                span {
                  svg {
                    margin: 0.5em;
                  }
                  .icon-special {
                    margin: 0.7em;
                  }
                }
                svg {
                  color: $primary-color;
                  margin: 0.5em;
                }
              }
              button {
                @include button;
                margin: 1em auto 1em auto;
                padding: 12px 40px;
              }
            }
          }
        }
      }
      .projects-div-one {
        @include row;
        .projects-items {
          width: 46.5%;
          text-align: center;
          margin: 1em;
          .projects-content {
            background-color: $body-color;
            border: 1px solid $primary-color;
            box-shadow: $box-shadow;
            img {
              width: auto;
              height: auto;
            }
            .projects-text {
              width: auto;
              margin: auto;
              padding: 0.5em;
              h2 {
                color: $primary-color;
                font-family: 'Comfortaa', cursive;
                font-size: 1.2em;
              }
              h3 {
                color: $text-color;
                font-family: 'Comfortaa', cursive;
                font-size: 0.9em;
              }
              .tech-icon {
                svg {
                  color: $primary-color;
                  margin: 0.5em;
                }
              }
              button {
                @include button;
                margin: 1em auto 1em auto;
                padding: 12px 40px;
              }
            }
          }
        }
      }
    }
  }
  #contact {
    padding: 1.5em 0em 4em 0em;
    background-image: url("../images/laptop-desk.jpg");
    background-color: $body_color;
    background-attachment: fixed;
    @include section-style;
    h1 {
      color: $primary_color;
      font-family: 'Comfortaa', cursive;
    }
    p {
      text-align: center;
      font-weight: bold;
    }
    .button-top {
      @include button_top;
    }
    .the-form {
      padding: 0.5em;
      .big-form {
        margin: 1em auto auto auto;
        border: 2px solid $primary-color;
        box-shadow: $primary-box-shadow;
        background-color: $body-color;
        border-radius: 2px;
        width: 50%;
        form {
          @include flex_column;
          .form-div {
            padding: 1em 1em 0.5em 1em;
            width: 100%;
            @include column;
            label {
              font-size: 0.9em;
              font-weight: bold;
              margin: 0.5em;
              color: $primary-color;
              @include column;
              input {
                margin-top: 0.5em;
                border: 1px solid $primary-color;
                border-radius: 2px;
                font-size: 0.9em;
                padding: 0.5em;
                &:hover {
                  border: 1.5px solid $primary-color;
                  box-shadow: $primary-box-shadow;
                }
              }
              textarea {
                margin-top: 0.5em;
                border: 1px solid $primary-color;
                border-radius: 5px;
                font-size: 0.9em;
                padding: 0.5em;
                &:hover {
                  border: 1.5px solid $primary-color;
                  box-shadow: $primary-box-shadow;
                }

              }
            }
          }
          .button-div {
            width: 100%;
            @include flex_center;
            button {
              margin: 0em auto 1em auto;
              @include submit;
              padding: 13px 50px;
            }
          }
          .modal-div {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1040;
            background-color: rgba(0, 0, 0, 0.6);
            .modal-wrapper {
              position: fixed;
              top: 0;
              left: 0;
              z-index: 1050;
              width: 100%;
              height: 100%;
              overflow-x: hidden;
              overflow-y: auto;
              outline: 0;
              display: flex;
              align-items: center;
              .modal {
                z-index: 100;
                background: #fff;
                border: 4px solid $primary-color;
                position: relative;
                margin: auto;
                border-radius: 5px;
                max-width: 500px;
                width: 80%;
                padding: 3em;
                p {
                  color: $primary-color;
                }
                button {
                  @include button;
                  margin: 2em;
                  padding: 15px 40px;
                }
              }
            }
          }
        }
      }
    }
  }
  .image-div{
    img {
      margin: 1em;
    }
  }
  footer {
    padding: 2em;
    color: $primary-color;
    background-color: $body-color;
    text-align: center;
    border-top: 1px solid $text-color;
    .button-div {
      margin: auto;
      button {
        margin: 0em 1em 1em 1em;
        border: none;
        background-color: $body-color;
        a {
          cursor: pointer;
        }
        svg {
          color: $primary-color;
          transform: scale(1.7);
          transition: transform 300ms ease-in-out;
          &:hover {
            color: $text_link_color;
            transform: scale(2.2);
          }
        }
      }
    }
    .info-site {
      margin: auto;
      font-size: 0.8em;
      font-weight: bold;
    }
  }
}

// responsive
// écrans de moins de 318px
@media #{$xx_small_screen}
{
  nav {
    .header-div {
      justify-content: space-between;
      img {
        width: 9em;
        height: 3em;
        margin: 0.4em auto 0.4em 1em;
      }
      .hamburger {
        display: initial;
        margin: auto 1.5em auto auto;
        background-color: $body-color;
        border-radius: 25%;
        border: none;
        transform: scale(1.2);
        transition: transform 300ms ease-in-out;
        &:hover {
          transform: scale(1.4);
          cursor: pointer;
          svg {
            color: $text_color;
         }
        }
        svg {
           color: $primary_color;
        }
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: top;
        width: 100%;
        height: 60vh;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
      .nav-menu.active {
        background: $primary_color;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        .nav-item {
          text-align: center;
          margin: 0em;
          padding: 2rem;
          width: 100%;
          display: table;
          a {
            color: $text_color;
          }
          .active {
            color: $body_color;
          }
        }
        .nav-item:hover {
          background-color: $text_color;
          border-radius: 0;
          a {
            color: $primary_color;
          }
          .active {
            color: $body_color;
          }
        }
      }
    }
  }
  .main-div {
    h1 {
      font-size: 1.5em;
    }
    p{
      font-size: 0.8em;
    }
    .project-page {
      .project-content {
        padding: 1em;
      }
    }
    #welcome {
      .section-content {
        width: 90%;
        .button-div {
          button {
            font-size: 0.9em;
            font-weight: bold;
            padding: 10px 20px;
          }
        }
      }
    }
    #parcours {
      padding: 1.5em 0.5em 1em 0.5em;
      .presentation {
        display: flex;
        flex-direction: column;
        img {
          width: 40%;
          margin: 1em auto 1em auto;
        }
        p {
          font-size: 0.8em;
          margin: 1em auto 1em auto;
        }
      }
      .vertical-timeline-element--work {
        h2 {
          font-size: 1.1em;
        }
        h3 {
          font-size: 0.9em;
        }
        p {
          font-size: 0.8em;
        }
        ul {
          li {
            font-size: 0.8em;
          }
        }
        .button-timeline {
          button {
            padding: 8px 20px !important;
            font-weight: bold;
          }
        }
      }
    }
    #projets {
      padding: 1.5em 0.5em 1em 0.5em;
      p {
        font-weight: 400;
      }
      .projects {
        margin: 0.2em;
        .projects-div {
          @include column;
        }
        .projects-div-one {
          .projects-items {
            width: 100%;
          }
        }
      }
    }
    #contact {
      h1 {
        padding-top: 1em;
      }
      .the-form {
        .big-form {
          width: 80%;
          form {
            .button-div {
              button {
                font-size: 0.9em;
                font-weight: bold;
                padding: 8px 35px;
              }
            }
            .modal-div {
              .modal-wrapper {   
                .modal {
                  width: 90%;
                  padding: 1em;
                  button {
                    margin: 1em;
                    padding: 10px 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
    footer {
      .button-div {
        button {
          margin: 0em 0.6em 1em 0.6em;
        }
      }
    }
  }
}
// écrans plus de 318px et moins de 360px
@media #{$x_small_screen}
{
  nav {
    .header-div {
      justify-content: space-between;
      img {
        width: 9em;
        height: 3em;
        margin: 0.4em auto 0.4em 1em;
      }
      .hamburger {
        display: initial;
        margin: auto 1.5em auto auto;
        background-color: $body-color;
        border-radius: 25%;
        border: none;
        transform: scale(1.2);
        transition: transform 300ms ease-in-out;
        &:hover {
          transform: scale(1.4);
          cursor: pointer;
          svg {
            color: $text_color;
         }
        }
        svg {
           color: $primary_color;
        }
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: top;
        width: 100%;
        height: 60vh;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
      .nav-menu.active {
        background: $primary_color;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        .nav-item {
          text-align: center;
          margin: 0em;
          padding: 2rem;
          width: 100%;
          display: table;
          a {
            color: $text_color;
          }
          .active {
            color: $body_color;
          }
        }
        .nav-item:hover {
          background-color: $text_color;
          border-radius: 0;
          a {
            color: $primary_color;
          }
          .active {
            color: $body_color;
          }
        }
      }
    }
  }
  .main-div {
    h1 {
      font-size: 1.5em;
    }
    .project-page {
      .project-content {
        padding: 1em;
      }
    }
    #welcome {
      .section-content {
        padding: 0.5em;
        width: 90%;
        .button-div {
          width: 100%;
          @include flex_center;
          button {
            margin: 0.5em auto 0.5em auto;
            @include submit;
            padding: 15px 30px;
          }
        }
      }
    }
    #parcours {
      padding: 1.5em 1em 1em 1em;
      .presentation {
        display: flex;
        flex-direction: column;
        img {
          width: 40%;
          margin: 1em auto 1em auto;
        }
        p {
          font-size: 0.8em;
          margin: 1em auto 1em auto;
        }
      }
      h2 {
        font-size: 1.1em;
      }
      h3 {
        font-size: 0.9em;
      }
      p {
        font-size: 0.8em;
      }
      ul {
        li {
          font-size: 0.8em;
        }
      }
      .button-timeline {
        button {
          font-size: 0.8em;
        }
      }
    }
    #projets {
      padding: 1.5em 0.5em 1em 0.5em;
      .projects {
        margin: 0.2em;
        .projects-div {
          @include column;
        }
        .projects-div-one {
          .projects-items {
            width: 100%;
          }
        }
      }
    }
    #contact {
      h1 {
        padding-top: 1em;
      }
      p {
        padding: 0.2em 1em 0em 1em;
      }
      .the-form {
        .big-form {
          width: 80%;
          form {
            .modal-div {
              .modal-wrapper {   
                .modal {
                  width: 90%;
                  padding: 1em;
                  button {
                    margin: 1em;
                    padding: 12px 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// écrans plus de 360px et moins de 780 px 
@media #{$small_screen}
{
  nav {
    .header-div {
      justify-content: space-between;
      img {
        width: 10em;
        margin: 0.4em auto 0.4em 1em;
      }
      .hamburger {
        display: initial;
        margin: auto 1.5em auto auto;
        background-color: $body-color;
        transform: scale(1.3);
        transition: transform 300ms ease-in-out;
        border: none;
        border-radius: 25%;
        &:hover {
          transform: scale(1.5);
          cursor: pointer;
        }
        svg {
           color: $primary_color;
        }
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: top;
        width: 100%;
        height: 60vh;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
      .nav-menu.active {
        background: $primary_color;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        .nav-item {
          text-align: center;
          margin: 0em;
          padding: 2rem;
          width: 100%;
          display: table;
          a {
            color: $text_color;
          }
          .active {
            color: $body_color;
          }
        }
        .nav-item:hover {
          background-color:  $text_color;
          border-radius: 0;
          a {
            color: $primary_color;
          }
          .active {
            color: $body_color;
          }
        }
      }
    }
  }
  .main-div {
    .project-page {
      .project-content {
        padding: 2em;
      }
    }
    #welcome {
      .section-content {
        width: 80%;
      }
    }
    #parcours {
      padding: 1.5em 1em 1em 1em;
      .presentation {
        display: flex;
        flex-direction: column;
        img {
          width: 35%;
          margin: 1em auto 1em auto;
        }
        p {
          font-size: 1em;
          margin: 1em auto 1em auto;
        }
      }
      p {
        font-size: 1em;
      }
    }
    #projets {
      padding: 1.5em 0.5em 1em 0.5em;
      .projects {
        margin: 0.2em;
        .projects-div {
          @include column;
        }
        .projects-div-one {
          .projects-items {
            width: 100%;
          }
        }
      }
    }
    #contact {
      h1 {
        padding-top: 1em;
      }
      p {
        padding: 0.2em 1em 0em 1em;
      }
      .the-form {
        .big-form {
          width: 70%;
          form {
            .modal-div {
              .modal-wrapper {   
                .modal {
                  width: 90%;
                  padding: 1em;
                  button {
                    margin: 1em;
                    padding: 13px 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// écrans de plus de 780 px et moins de 1024px 
@media #{$medium_screen}
{
  .main-div {
    #welcome {
      .section-content {
        width: 70%;
      }
    }
    #parcours {
      .presentation {
        display: flex;
        flex-direction: column;
        img {
          width: 30%;
          margin: 1em auto 1em auto;
        }
        p {
          margin: 1em auto 1em auto;
        }
      }
    }
    #projets {
      padding: 1.5em 0.5em 1em 0.5em;
      .projects {
        margin: 0em;
        .projects-div-one {
          .projects-items {
            width: 45%;
          }
        }
      }
    }
    #contact {
      h1 {
        padding-top: 1em;
      }
      p {
        padding: 0.2em 1em 0em 1em;
      }
      .the-form {
        .big-form {
          width: 70%;
        }
      }
    }
  }
}